main {
    display: flex;
    justify-content: space-evenly;
}

section {
    width: 40%;
}

tr:nth-child(even) td {
    background: var(--color-white);
}

tr:hover {
    background-color: #aaa;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    section {
        width: 100%;
    }
}
