@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #eee;
}

body.dark-mode {
    --color-black: #eee;
    --color-white: #112;
    --color-grey: #444;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background: var(--color-grey);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background: var(--color-white);
    color: var(--color-black);
    padding: 1.2rem 2rem;
    border-bottom: 2px solid var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    position: relative;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar li * {
    text-decoration: none;
    color: var(--color-black);
    border: 2px solid var(--color-black);
    background: var(--color-white);
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.navbar li *:hover,
.navbar li *.active {
    color: var(--color-white);
    background: var(--color-black);
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

main {
    flex: 1;
    padding: 1rem 2rem;
}

main section {
    margin: auto 0;
}

.intro {
    background: var(--color-white);
    border: 2px solid var(--color-black);
    color: var(--color-black);
    padding: 1.5rem;
    margin-top: 2rem;
}

.intro * {
    padding: 0.4rem 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background: var(--color-black);
}

footer * {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-white);
}

footer a:hover {
    color: #f20;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;

    font-size: 1.2rem;
    text-align: center;
    overflow: hidden;
    border: 2px solid var(--color-black);
}

table th {
    background: var(--color-black);
    color: var(--color-white);
    padding: 0.6rem;
}

table td {
    border: 2px solid var(--color-black);
    padding: 0.6rem;
    font-size: 1.3rem;
}

tr:nth-child(even) td {
    background: var(--color-grey);
}

.text-header {
    font-weight: bold;
    border: 2px solid var(--color-black);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 1rem;
    transition: 0.3s ease;
}

/* back to top */

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid var(--color-black);
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    transition: 0.1s;
    z-index: 1000;
}

#backToTop.show {
    display: block;
}

#backToTop:hover {
    background: var(--color-black);
    color: var(--color-white);
    transform: scale(1.5) translate(-10px, -10px);
}

/* fixes */

button, td, th {
    color: var(--color-black);
}

@media (max-width: 1080px) {
    .navbar {
        display: none;
        flex-direction: column;
        background: var(--color-white);
        border: 2px solid var(--color-black);
        position: absolute;
        top: 200%;
        right: 0;
        padding: 2rem 1rem;
    }

    .navbar.show {
        display: flex;
        gap: 2rem;
    }

    .navbar li * {
        display: flex;
        justify-content: center;
    }

    .burger {
        display: block;
    }
}
